@media (max-width: 84em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 48em) {
  .banner-text h1 {
    font-size: 4.4rem;
  }
}
@media (max-width: 48em) {
    .text h1{
        font-size: 3.5rem;
    }
    features{
        flex-basis: 100%;
    }
    .features-img{
        flex-basis: 100%;

    }
    .features-img img{
        width: 100%;

    }
  }
  @media (max-width: 27em) {
    .single-service {
      padding-top: 1.2rem;
    }
  }